body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center; /* Center everything by default */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d3557;
    color: white;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.header.open-sidebar {
    transform: translateX(250px); /* Move header when sidebar opens */
}

.logo {
    width: 120px;
    height: 120px;
    margin-right: 1rem;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.title {
    font-size: 3rem;
    transition: color 0.3s ease;
}

.title:hover {
    color: #52c5f3;
}
